@page "/"
@inject HttpClient Http

<PageTitle>Personnel List</PageTitle>


<h3>Personnel List</h3>

<table>
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>


        @foreach (var personnel in personnelList)
        {
            <tr>
                <td><img src="@personnel.Image" class="thumbnail" /></td>
                <td><a href="/personnel/@personnel.Id">@personnel.FirstName @personnel.LastName</a></td>
                <td>@personnel.Title</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private Personnel[]? personnelList = new Personnel[0];

    protected override async Task OnInitializedAsync()
    {
        //personnelList = await Http.GetFromJsonAsync<Personnel[]>("sample-data/personnel.json");

       var settings = await Http.GetFromJsonAsync<Settings>("settings.json");
	   string apiUrl = settings.Api;

       personnelList = await Http.GetFromJsonAsync<Personnel[]>($"{apiUrl}/GetPersonnel");
    }
}
